@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato'), local('Lato-Regular'),
         url('../../assets/fonts/Lato.woff') format('woff') /* Modern Browsers */
  }