$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$grey10: rgba(51,51,51,1);
$grey20: rgba(112,112,112,1);
$grey30: rgba(235,235,235,1);
$seaGreen: rgba(28,187,180,1);
$tangerine: rgba(255,173,29,1);

